# Use postgres/example user/password credentials
# version: '3.8' # https://docs.docker.com/compose/intro/history/

services:

  db:
    image: postgres
    container_name: pg
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql
    environment:
      # default user is postgres
      # POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 13145

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8084:8084